body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
/* =========================================
   CUSTOM SCROLLBAR
========================================= */

.scroll-bar::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-bar::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

.scroll-bar::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* DARK MODE */

.dark .scroll-bar::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
  border: 2px solid transparent;
  background-clip: content-box;
}

.dark .scroll-bar::-webkit-scrollbar-thumb:hover,
.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569;
  border: 2px solid transparent;
  background-clip: content-box;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
